*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


@font-face {
  font-family:"Bellefair";
  src: url(../public/webFonts/Bellefair-Regular.ttf);
  font-weight: normal;
  
}

body{
  font-family: 'Bellefair', serif;
   color: papayawhip;
   width: "100vw";
   height: "100vh";

}

.active-link {
  border-bottom: 2px solid white;
    line-height: 1.2;
  margin-bottom: -23px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.MuiMenu-paper .active-link,
.MuiPaper-root .active-link,
.MuiMenu-list .active-link {
  border-bottom: none !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}